<!DOCTYPE html>
<html>
<head>
    <title>درباره ما</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="container mt-5">
        <div class="content" align="center">
            <h1>درباره ما</h1>
            <p>
                ایرانیان کشتی، یک پلتفرم آنلاین برای علاقه‌مندان به هنر ورزش کشتی در ایران است. ما با هدف ترویج، توسعه و ارتقاء ورزش کشتی در ایران و بهره‌گیری از تاریخچه و فرهنگ غنی ایران در این زمینه، این سایت را راه‌اندازی کرده‌ایم.
            </p>
            <p>
                در ایرانیان کشتی، شما قادر خواهید بود تا آخرین اخبار، مقالات، ویدئوها و منابع مفیدی درباره کشتی را بیابید. همچنین، میزبان برگزاری رویدادها، دوره‌های آموزشی و مسابقات کشتی هستیم که این امکان را به شما می‌دهد تا با سایر علاقه‌مندان به کشتی در سراسر کشور در تعامل باشید و تجربیات خود را به اشتراک بگذارید.
            </p>
            <p>
                هدف ما این است که ایرانیان کشتی را به عنوان یک جامعه پویا و فعال از علاقه‌مندان به کشتی در ایران تبدیل کنیم. ما با افتخار همکاری می‌کنیم تا به رشد و توسعه این ورزش در کشورمان کمک کنیم و به عنوان یک منبع قابل اعتماد برای اطلاعات کشتی در ایران شناخته شویم.
            </p>
            <p>
                ایرانیان کشتی تلاش می‌کند تا با بهره‌گیری از افراد متخصص و علاقه‌مند به این رشته، منابع آموزشی بروز و مطلوب را در اختیار کاربران قرار دهد. ما اعتقاد داریم که کشتی یکی از مهم‌ترین و ارزشمندترین ورزش‌های ایرانی است که به تاریخچه‌ی فرهنگی ایران نیز مرتبط است و باید در بین جامعه‌ی ایرانی‌ها به محبوبیت و ارزشیابی بالا دست یابد.
            </p>
            <p>
                با افتخار به شما خوش‌آمد می‌گوییم به جامعه ایرانیان کشتی. همراهی شما در این سفر ما را در راستای اهدافمان قوی‌تر می‌کند. با تشکر از حمایت شما، ما به امید بهبود و پیشرفت روز افزون ورزش کشتی در کشورمان هستیم.
            </p>

        </div>
    </div>

    <footer style="margin-top:340px;margin-left:20px;" dir="ltr">
    </footer>
</body>
</html>

<div class="main mt-5 mb-0 col-12">
    <div class="footr">
        <div class="h-25 row col-12 Te container justify-content-center">
            <div class="col-lg-3 col-12 mx-auto unline mb-3">
                <h5>دسترسی سریع </h5>
                <hr class="Te" />
                <a href="#"><p>وبلاگ</p></a>
                <a href="#"><p>فروشگاه</p></a>
                <a href="#"> <p>قوانین سایت</p></a>
            </div>
            <div class="col-lg-3 col-12 Te mb-3">
                <h5>شبکه های اجتماعی</h5>
                <hr class="Te" />
                <div>
                    <p class=" unline mt-3">
                        <a href="https://wa.me/+989191939539" target="_blank"><img src="~/images/social-media/icons8-whatsapp-48.png" alt="">     واتساپ    </a>
                    </p>
                    <p class=" unline ">
                        <a href="https://t.me/+989191939539">
                            <img src="~/images/social-media/icons8-telegram-app-48.png" alt="">
                            تلگرام

                        </a>
                    </p>
                    <p class=" unline ">
                        <a href="#">
                            <img src="~/images/social-media/icons8-instagram-48.png" alt="">
                            اینستاگرام

                        </a>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-12 Te unline mb-3">
                <h5>تماس با ما</h5>
                <hr class="Te" />
                <a href="tel://+989191939539" class="Te">
                    <p class="mt-4">
                        <i class=" fa fa-mobile" style="color:white;font-size:16px;"></i>
                        09191939539
                    </p>
                </a>
                <p class="Te mt-0">
                    پست الکترونیک: r.baniyaghub@gmail.com
                </p>
            </div>
            <div class="col-lg-3 col-12 mx-auto unline mb-3">
                <h5>قوانین سایت </h5>
                <hr class="Te" />
                <a href="/Home/TermsofUse"><p>شرایط استفاده</p></a>
                <a href="#"><p>حریم خصوصی</p></a>
                <a href="#"> <p>سیاست‌ها</p></a>
            </div>
        </div>
        <p>
            <h5 class="Te mt-0" dir="ltr">
                تمامی حقوق محفوظ است. &copy; 2023 ایرانیان کشتی
            </h5>
        </p>
    </div>
</div>
