@{
    ViewData["Title"] = "Home Page";
}

@*<body class="image">
    <div class="text-center">
    </div>
</body>*@

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url("paper.gif");
            background-color: #cccccc;
        }
    </style>
</head>
<body>
    <h1 align="center" class="mt-3">به آکادمی کشتی البرز خوش آمدید</h1>
</body>
</html>


<div align="center">
    <div class="col-md-6 text text-gray  mt-3">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="images/register/1400071209594267723742654.jpg" class="d-block w-100  rounded" alt="حسن یزدانی">
                </div>
                <div class="carousel-item">
                    <img src="images/register/1138088.jpg" class="d-block w-100  rounded" alt="فن سالتو کشتی">
                </div>
                <div class="carousel-item">
                    <img src="images/backgrounds/fedrasion koshti.jpg" class="d-block w-100  rounded" alt="ورزشگاه آزادی کشتی">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>


<div class="main mt-5 mb-0 col-12">
    <div class="footr">
        <div class="h-25 row col-12 Te container justify-content-center">
            <div class="col-lg-3 col-12 mx-auto unline mb-3">
                <h5>دسترسی سریع </h5>
                <hr class="Te" />
                <a href="#"><p>وبلاگ</p></a>
                <a href="#"><p>فروشگاه</p></a>
                <a href="#"> <p>قوانین سایت</p></a>
            </div>
            <div class="col-lg-3 col-12 Te mb-3">
                <h5>شبکه های اجتماعی</h5>
                <hr class="Te" />
                <div>
                    <p class=" unline mt-3">
                        <a href="https://wa.me/+989191939539" target="_blank"><img src="~/images/social-media/icons8-whatsapp-48.png" alt="">     واتساپ    </a>
                    </p>
                    <p class=" unline ">
                        <a href="https://t.me/+989191939539">
                            <img src="~/images/social-media/icons8-telegram-app-48.png" alt="">
                            تلگرام

                        </a>
                    </p>
                    <p class=" unline ">
                        <a href="#">
                            <img src="~/images/social-media/icons8-instagram-48.png" alt="">
                            اینستاگرام

                        </a>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-12 Te unline mb-3">
                <h5>تماس با ما</h5>
                <hr class="Te" />
                <a href="tel://+989191939539" class="Te">
                    <p class="mt-4">
                        <i class=" fa fa-mobile" style="color:white;font-size:16px;"></i>
                        09191939539
                    </p>
                </a>
                <p class="Te mt-0">
                    پست الکترونیک: r.baniyaghub@gmail.com
                </p>
            </div>
            <div class="col-lg-3 col-12 Te mb-3">
                <h5>درباره ما</h5>
                <hr class="Te" />
                <p>
                    "ایرانیان کشتی، پلتفرمی آنلاین برای علاقه‌مندان به ورزش کشتی در ایران است. هدف ما ترویج، توسعه و ارتقاء ورزش کشتی در ایران و بهره‌برداری از تاریخچه و فرهنگ غنی ایران در این زمینه است.
                    <a href="/Home/About">ادامه مطلب</a>
                </p>
            </div>
        </div>
        @* <div class="col-lg-11 col-12 footer-bot Te">
        <div class="copyright">
        تمام حقوق مادی و معنوی متعلق به سایت ایرانیان کشتی می باشد
        </div>
        <div class="ui">
        طراحی شده توسط ایرانیان کشتی
        </div>
        </div>*@
    </div>
</div>


