<!DOCTYPE html>
<html>
<head>
    <title>شرایط استفاده از سایت</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="container mt-5">
        <div class="content" align="center">
            <h1>شرایط استفاده از سایت</h1>
            <p>
                با ورود و استفاده از وب‌سایت ایرانیان کشتی، شما تصدیق می‌کنید که این شرایط استفاده را خوانده و با آن موافقت می‌کنید. در صورت عدم موافقت با این شرایط، خواهشمندیم که از استفاده از وب‌سایت منصرف شوید.
            </p>
            <p>
                1. محتوای وب‌سایت:
                تمامی محتوای موجود در وب‌سایت ایرانیان کشتی، از جمله مقالات، اخبار، ویدئوها و تصاویر، متعلق به ایرانیان کشتی است و تحت حمایت قوانین حقوق مؤلف بوده و انتشار آن بدون مجوز کتبی ممنوع است.
            </p>
            <p>
                2. محدودیت مسئولیت:
                ایرانیان کشتی هیچ گونه مسئولیتی در قبال محتوای ارسالی توسط کاربران و یا اطلاعات نادرست یا غیرقانونی کاربران ندارد.
            </p>
            <p>
                3. استفاده مناسب از اطلاعات:
                کاربران موظف هستند از اطلاعات و محتواهای موجود در وب‌سایت ایرانیان کشتی به نحو مناسب و با رعایت اصول اخلاقی استفاده نمایند و هیچگونه تخلف از حقوق مؤلف و قوانین جاری نکنند.
            </p>
            <p>
                4. پیوندها به سایت‌های دیگر:
                وب‌سایت ایرانیان کشتی ممکن است حاوی پیوندها به سایت‌های دیگر باشد. این پیوندها برای اطلاع رسانی و مرجعی بودنده ارائه می‌شوند و ایرانیان کشتی هیچ مسئولیتی در قبال محتوا و سیاست‌های سایت‌های مرتبط ندارد.
            </p>
            <p>
                5. تغییرات وب‌سایت:
                ایرانیان کشتی حق دارد هر زمان و بدون اطلاع قبلی، محتوای وب‌سایت را تغییر دهد، اصلاحات انجام دهد یا از روند عملکرد وب‌سایت تغییرات ایجاد کند.
            </p>
            <p>
                6. حق انتشار:
                با ارسال محتوا و اطلاعات به وب‌سایت ایرانیان کشتی، شما اعلام می‌کنید که دارای حق انتشار و استفاده از آن بوده و هیچ گونه حقوق ثالث در قبال آن ندارید.
            </p>
            <p>
                7. تغییر شرایط استفاده:
                ایرانیان کشتی ممکن است به مرور زمان شرایط استفاده را تغییر دهد. لذا توصیه می‌شود که به صورت دوره‌ای این شرایط را بررسی کنید.
            </p>
            <p>
                با توجه به اینکه شرایط استفاده ممکن است با تغییرات قوانین و شرایط وب‌سایت تغییر کند، توصیه می‌شود که به صورت دوره‌ای آخرین نسخه از این شرایط را مطالعه کنید. استفاده از وب‌سایت ایرانیان کشتی به منزله پذیرش این شرایط است.
            </p>


        </div>
    </div>

    <footer style="margin-top:340px;margin-left:20px;" dir="ltr">
    </footer>
</body>
</html>

<div class="main mt-5 mb-0 col-12">
    <div class="footr">
        <div class="h-25 row col-12 Te container justify-content-center">
            <div class="col-lg-3 col-12 mx-auto unline mb-3">
                <h5>دسترسی سریع </h5>
                <hr class="Te" />
                <a href="#"><p>وبلاگ</p></a>
                <a href="#"><p>فروشگاه</p></a>
                <a href="#"> <p>قوانین سایت</p></a>
            </div>
            <div class="col-lg-3 col-12 Te mb-3">
                <h5>شبکه های اجتماعی</h5>
                <hr class="Te" />
                <div>
                    <p class=" unline mt-3">
                        <a href="https://wa.me/+989191939539" target="_blank"><img src="~/images/social-media/icons8-whatsapp-48.png" alt="">     واتساپ    </a>
                    </p>
                    <p class=" unline ">
                        <a href="https://t.me/+989191939539">
                            <img src="~/images/social-media/icons8-telegram-app-48.png" alt="">
                            تلگرام

                        </a>
                    </p>
                    <p class=" unline ">
                        <a href="#">
                            <img src="~/images/social-media/icons8-instagram-48.png" alt="">
                            اینستاگرام

                        </a>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-12 Te unline mb-3">
                <h5>تماس با ما</h5>
                <hr class="Te" />
                <a href="tel://+989191939539" class="Te">
                    <p class="mt-4">
                        <i class=" fa fa-mobile" style="color:white;font-size:16px;"></i>
                        09191939539
                    </p>
                </a>
                <p class="Te mt-0">
                    پست الکترونیک: r.baniyaghub@gmail.com
                </p>
            </div>
            <div class="col-lg-3 col-12 mx-auto unline mb-3">
                <h5>قوانین سایت </h5>
                <hr class="Te" />
                <a href="#"><p>شرایط استفاده</p></a>
                <a href="#"><p>حریم خصوصی</p></a>
                <a href="#"> <p>سیاست‌ها</p></a>
            </div>
        </div>
        <p>
            <h5 class="Te mt-0" dir="ltr">
                تمامی حقوق محفوظ است. &copy; 2023 ایرانیان کشتی
            </h5>
        </p>
    </div>
</div>
