body {
    background-color: #b6ff001b !important
}

@font-face {
    font-family: vazir;
    font-style: normal;
    font-weight: 100;
    src: url("fonts/Vazir-Thin.eot");
    src: url("fonts/Vazir-Thin.woff") format("woff"), url("fonts/Vazir-Thin.ttf") format("ttf"), url("fonts/Vazir-Thin.woff2") format("woff2");
}

@font-face {
    font-family: vazir;
    font-style: normal;
    font-weight: 300;
    src: url("fonts/Vazir-Light.eot");
    src: url("fonts/Vazir-Light.woff") format("woff"), url("fonts/Vazir-Light.ttf") format("ttf"), url("fonts/Vazir-Light.woff2") format("woff2");
}

@font-face {
    font-family: vazir;
    font-style: normal;
    font-weight: 400;
    src: url("fonts/Vazir-Regular.eot");
    src: url("fonts/Vazir-Regular.woff") format("woff"), url("fonts/Vazir-Regular.ttf") format("ttf"), url("fonts/Vazir-Regular.woff2") format("woff2");
}

@font-face {
    font-family: vazir;
    font-style: normal;
    font-weight: 950;
    src: url("fonts/Vazir-Black.eot");
    src: url("fonts/Vazir-Black.woff") format("woff"), url("fonts/Vazir-Black.ttf") format("ttf"), url("fonts/Vazir-Black.woff2") format("woff2");
}

body {
    font-family: vazir;
    direction: rtl;
}

.image {
    background-image: url('../images/backgrounds/b1.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.image1 {
    background-image: url('../images/register/webp.net-resizeimage.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.image2 {
    background-image: url('../images/register/1138088.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1700px;
}

/* Tablet styles and devices with similar features */
@media (max-width: 991px) {
    /* Change the font size for the page title */
    h1 {
        font-size: 24px;
    }

    @media (min-width: 768px) {
        .table-responsive {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }


    /* Setting the width of the table elements to be replaced on a column */
    table td,
    table th {
        display: block;
        width: 100%;
    }

    /* Changing the position of the buttons in each row */
    .table-responsive table tr {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        /* Change the size of the buttons in each row */
        .table-responsive table tr a {
            width: 100%;
            margin-bottom: 10px;
        }
}

/* Styles for mobile and small devices */
@media (max-width: 767px) {
    /* Change the font size for the page title */
    h1 {
        font-size: 20px;
    }

    /* Setting the width of the table elements to be replaced on a column*/
    table td,
    table th {
        display: block;
        width: 100%;
    }

    /* Changing the position of the buttons in each row */
    .table-responsive table tr {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        /* Change the size of the buttons in each row*/
        .table-responsive table tr a {
            width: 100%;
            margin-bottom: 10px;
        }
}


/* استایل برای نمایش روی دسکتاپ */
@media (max-width: 767px) {
    /* مخفی کردن عناصر <th> */
    table thead th {
        display: none;
    }

    /* نمایش محتوای ستون‌ها در سطرهای <tr> */
    table tbody td:before {
        content: attr(data-label);
        float: right;
        font-weight: bold;
    }

    /* فضای بین سطرها را کم کنید */
    table tbody tr {
        margin-bottom: 10px;
    }

    /* تغییر نحوه نمایش محتوای هر ستون */
    table tbody td[data-label]:before {
        content: attr(data-label);
        float: right;
        font-weight: bold;
    }

    .space {
        margin-right: 5px;
    }
}


@media (min-width: 991px) {
    .Rz {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vh;
        min-width: 1000px;
    }
}

@media (min-width: 991px) {
    .Rb {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40vh;
        min-width: 1000px;
    }
}


@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }

        .carousel-inner .carousel-item > div:first-child {
            display: block;
        }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 767px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }

    @media (max-width: 767px) {
        .footr {
            height: auto;
        }
    }
}

@media (max-width: 767px) {
    .carousel-inner .carousel-item img {
        height: auto !important;
        max-width: 100% !important;
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}

.carousel-inner{
    transition:all 0.5s ease;
}

.navbar {
    background: #235580 !important;
    width: 100% !important;
}

.Te {
    font: 14.500px 'dazhyar', Tahoma;
    color: snow;/*
    padding: 5px;
    margin: 20px;*/
}

.Te  a{
    font: 15px 'dazhyar', Tahoma;
    color: snow;
}
.unline a{
  text-decoration:none;
}
.footr {
    width: 100%;
    height: auto;
    background-image: url('../images/backgrounds/footer.jpg');
    padding: 15px;
    margin: 0px auto 0;
    position: absolute;
    margin-bottom: 0 !important;
}


.main-footer {
    margin: 0 auto;
    width: 1500px;
}

.about {
    font-weight: 600;
    width: 310px;
    height: 300px;
    float: left;
}

    .about p {
        font: 17px/2 'dazhyar', Tahoma;
        color: #e2e2e2;
        text-align: justify;
    }

.social {
    width: 600px;
    margin: 30px 150px;
    float: right;
}

    .about h5, .social h5, .social h5 {
        font: 19px 'dazhyar', Tahoma;
        color: #e2e2e2;
        padding: 5px;
        margin: 20px auto;
    }

    .social ul li {
        float: right;
        margin: 10px 2px;
    }

        .social ul li img {
            border-radius: 50%;
        }

.access {
    width: 300px;
    float: right;
    margin-top: 35px;
}

    .access ul li a {
        font: 16px/2 'dazhyar', Tahoma;
        color: #e2e2e2;
        margin: 5px;
    }

        .access ul li a:hover {
            color: #4c7d89;
        }

.footer-bot {
    width: 100%;
    height: 50px;
    background: #2C3e50;
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    clear: both;
    margin-bottom:auto;
}

.copyright {
    margin: 15px 20px;
    float: right;
    color: snow;
}

.footer-bot .ui {
    margin: 15px 20px;
    float: left;
    color: snow;
}
