@page
@model Disable2faModel
@{
    ViewData["Title"] = "غیرفعال کردن احراز هویت دو مرحله ای(2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>This action only disables 2FA.</strong>
    </p>
    <p>
        غیرفعال کردن 2FA کلیدهای مورد استفاده در برنامه های احراز هویت را تغییر نمی دهد. اگر می خواهید کلید را تغییر دهید
        باید در یک برنامه احراز هویت استفاده شود <a asp-page="./ResetAuthenticator">کلیدهای احراز هویت خود را بازنشانی کنید.</a>
    </p>
</div>

<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">2FA را غیرفعال کنید</button>
    </form>
</div>
