@page
@using Microsoft.AspNetCore.Http.Features
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "احراز هویت دو مرحله ای (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
@{
    var consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();
    @if (consentFeature?.CanTrack ?? true)
    {
        @if (Model.Is2faEnabled)
        {
            if (Model.RecoveryCodesLeft == 0)
            {
                <div class="alert alert-danger">
                    <strong>هیچ کد بازیابی ندارید.</strong>
                    <p>شما باید <a asp-page="./GenerateRecoveryCodes">مجموعه جدیدی از کدهای بازیابی را ایجاد کنید</a> قبل از اینکه بتوانید با یک کد بازیابی وارد شوید.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft == 1)
            {
                <div class="alert alert-danger">
                    <strong>شما 1 کد بازیابی باقی مانده است.</strong>
                    <p>شما باید  <a asp-page="./GenerateRecoveryCodes">مجموعه جدیدی از کدهای بازیابی را ایجاد کنید</a>.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft <= 3)
            {
                <div class="alert alert-warning">
                    <strong>شما دارید @Model.RecoveryCodesLeft recovery codes left.</strong>
                    <p>تو باید <a asp-page="./GenerateRecoveryCodes">مجموعه جدیدی از کدهای بازیابی را ایجاد کنید</a>.</p>
                </div>
            }

            if (Model.IsMachineRemembered)
            {
                <form method="post" style="display: inline-block">
                    <button type="submit" class="btn btn-primary">این مرورگر را فراموش کنید</button>
                </form>
            }
            <a asp-page="./Disable2fa" class="btn btn-primary">Disable 2FA</a>
            <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">بازنشانی کدهای بازیابی</a>
        }

        <h4>Authenticator app</h4>
        @if (!Model.HasAuthenticator)
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">افزودن برنامه احراز هویت</a>
        }
        else
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">برنامه احراز هویت را تنظیم کنید</a>
            <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-primary">برنامه Authenticator را بازنشانی کنید</a>
        }
    }
    else
    {
        <div class="alert alert-danger">
            <strong>سیاست حفظ حریم خصوصی و کوکی پذیرفته نشده است.</strong>
            <p>قبل از اینکه بتوانید احراز هویت دو عاملی را فعال کنید، باید این خط مشی را بپذیرید.</p>
        </div>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
